<mat-toolbar color="primary">
  <div>
    <span>
      <a routerLink="" mat-button>
        <mat-icon>loca_movies</mat-icon>Angular Pelis
      </a>
    </span>
  </div>
  
  <div>
    <a mat-button routerLink="peliculas/buscar">
    <mat-icon>search</mat-icon></a>
  </div>
  <div>
    <a mat-button routerLink="generos">Géneros</a>
  </div>
  <div>
    <a mat-button routerLink="actores">Actores</a>
  </div>
  <div>
    <a mat-button routerLink="cines">Cines</a>
  </div>
  <div>
    <a mat-button routerLink="peliculas/crear">Crear Película</a>
  </div>
</mat-toolbar>
