<!-- <input type="file" style="display: none;" #cargador>
<button (click)="cargador.click()">Cargar archivo</button> -->
<app-menu></app-menu>
<div class="contenedor">
  <router-outlet></router-outlet>
  <!-- <div>
    <input type="text" (input)="title = $event.target.value" />
  </div>  
  <div>
    <input type="checkbox" checked (change)="ocultar = !ocultar" /> Ocultar
  </div> -->
 
  <!-- <div *ngIf="ocultar">
    <app-ciclo-de-vida  [titulo]="title"></app-ciclo-de-vida>
  </div> -->
  <!-- <app-rating (rated)= "manejarRated($event)" [maximoRating]="5"></app-rating> -->
</div>