.peliculas-contenedor {
  /*border: 1px solid black;
  margin-bottom: 1rem;
  padding: 1rem;*/

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}


.peliculas-contenedor {
  margin-right: 2%;
  margin-bottom: 10px;
  text-align: center;
}

p {
  max-width: 225px;
  height: 44px;
  font-size: 15px;
  font-weight: bold;
}

image {
  width: 225px;
  height: 300px;
}

button {
  margin-left: 1em;
}